/* from tracy's adobe acct */

@import url("https://use.typekit.net/ymr2ixr.css");
/* @import url */

/* color palette */

.allColors {
    /* primary */
    color: #F16841;
    color: #002851;
    color: #ffffff;
    /* secondary */
    color: #FF8576;
    color: #FFB238;
    color: #F0F5F9;
    color: #c9d6df;
    color: #52616B;
}

/* used for body */

.lightText {
    text-align: center;
    font-family: zeitung, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* used for headings */

.regText {
    text-align: center;
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* used for titles */

.boldText {
    text-align: center;
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.brand {
    color: #F16841;
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.border {
    border-style: solid;
}

.bigTitle {
    font-size: 100px;
    font-family: zeitung, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-stretch: expanded;
}
.storiesTitle {
    font-size: 70px;
    font-family: zeitung, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-stretch: expanded;
}


.subTitle {
    color: #52616B;
    font-size: 60px;
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: expanded;
}

.titleCenter {
    text-align: center; 
    color: #ffffff;
}

/* everythin 600px */

.heading1 {
    padding: 2em 5em 2em;
}
.soloHeading {
    padding: .5em 0;
    text-align: center;
}

.subHeading {
    padding: 2em 4em 0.5em;
}

.sectionGradient {
    /* background-image: linear-gradient(#FF8576, rgba(255,0,0,0)); */
    background-color: #FF8576;
}

@media screen and (max-width: 600px) {
    .heading1 {
        padding: 2em 0 2em;
        text-align: center;
    }
}


h1 {
    /* text-align: center; */
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #002851;
    padding-bottom: 0.5em;
}

h2, h3, h4, h5 {
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-bottom: 1em; */
}

h6 {
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 1em;
}

p {
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-bottom: 2em; */
    /* padding-top: 3em; */

}   

/* hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
} */

.sectionColor {
    background-color: #F0F5F9;
}

.logo {}