/* from tracy's adobe acct */

@import url("https://use.typekit.net/ymr2ixr.css");
/* @import url */

/* color palette */

.allColors {
    /* primary */
    color: #F16841;
    color: #002851;
    color: #ffffff;
    /* secondary */
    color: #FF8576;
    color: #FFB238;
    color: #F0F5F9;
    color: #c9d6df;
    color: #52616B;
}

/* used for body */

.lightText {
    text-align: center;
    font-family: zeitung, sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* used for headings */

.regText {
    text-align: center;
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* used for titles */

.boldText {
    text-align: center;
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2.brand {
    color: #F16841;
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.border {
    border-style: solid;
}

/* everythin 600px */

.heading1 {
    padding: 2em 5em 2em;
}

@media screen and (max-width: 600px) {
    .heading1 {
        padding: 2em 0 2em;
        text-align: center;
    }
}


h1 {
    /* text-align: center; */
    font-family: zeitung, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #002851;
    padding-bottom: 0.5em;
}

h2, h3, h4, h5, h6 {
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 1em;
}

p {
    font-family: zeitung, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* padding-bottom: 2em; */
    /* padding-top: 3em; */

}


.logo {}